/* Основные стили */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Все h2 на странице */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Секция #title */
#title {
  background-color: #ff3c68;
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

/* Navbar стили */
.navbar {
  padding-bottom: 4.5rem;
  padding-top: 3%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2.2rem;
}

/* Кнопки загрузки */
.download-button {
  margin: 5% 3% 0 5%;
}

/* Изображение в title */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Секция #features */
#features {
  padding-top: 7%;
  padding-bottom: 7%;
}

#features .fas {
  color: #ff3c68;
}

/* Секция #testimonials */
#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 7%;
}

/* Класс для testimonial изображения */
.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
  padding: 7% 15%;
}

/* Секция #press */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

/* Класс для логотипов прессы */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Секция #pricing */
#pricing {
  padding-top: 7%;
  padding-bottom: 5%;
}

/* Секция #cta */
#cta {
  background-color: #675c5e;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-top: 20px;
}

/* Footer */
#footer {
  padding: 20px 0;
  background-color: #f8f9fa;
  text-align: center;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 767px) {
  .navbar {
    padding-top: 1%;
  }
  h1, h2 {
    font-size: 2rem;
  }
  .testimonial-text {
    font-size: 1.5rem;
  }
  .title-image {
    width: 80%;
  }
  .press-logo {
    width: 25%;
    margin: 10px 15px;
  }
  .testimonial-image {
    width: 20%;
    padding: 5% 10%;
  }
}
